
*{
    margin:0px auto;	
 }
.box{
	width:100%;
	background:url(hg1.jpg) no-repeat center;
	background-size:100% 100%;-moz-background-size:100% 100%;
    padding-top:10em;
    width:100%;
    position: absolute;
    bottom:0px;
    right:0;
    top:0px;
}

/*@media (min-width: 1500px){ 
.cnt{
	width:450px;
	background:#fff;
	
	//margin-right:160px;
	padding:40px 40px 40px 40px;
	border-radius: 20px;"
	display:flex;justify-content:center;align-items:center;

 } 
 .cnt .form-control{
	 height:3em
 }
  #cnt_one{
	 
	color:#5bc0de;
	font-size:2em; 
	font-weight:600;
	/*padding-right:120px;
	
	
}
  }
@media (min-width: 1900px){ 
.cnt{
	width:600px;
	background:#fff;
	
	margin-right:160px;
	padding:40px 40px 40px 40px;
	border-radius: 20px;"
 } 
  .cnt .form-control{
	 height:6em
 }
  #cnt_one{
	 
	color:#5bc0de;
	font-size:3em; 
	font-weight:600;
	/*padding-right:120px;
	
	
}
 }*/
 
.cnt{
	width:450px;
	background:#fff;
	
	//margin-right:160px;
	padding:40px 40px 40px 40px;
	border-radius: 20px;"
	display:flex;justify-content:center;align-items:center;

 } 
 .cnt .form-control{
	 height:3em
 }
  #cnt_one{
	 
	color:#5bc0de;
	font-size:2em; 
	font-weight:600;
	/*padding-right:120px;
	
	
}

 #cnt_two{
	color:blue;
	font-size:18px;
	//padding-left:50px;
	
 }
 
 #huanying{
	padding-bottom:10px; 
 }
 
 #oimg{
	 padding-left:30px;
 }